html, body {
  background-image: url(https://source.unsplash.com/n8rK2ALPHTY);
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.588);
}

img {
  max-width: 100%;
  height: auto;
}

h1, h3, p, form, ul, li{
    font-family: "Merriweather", serif;
}
